h1{
    font-family: 'Times New Roman', Times, serif;
    color: snow;
    text-align: center;
    margin: 0px;
}
header{
    background-color: rgb(2, 84, 100);
    border-radius: 10px;
}
li{
 
    list-style: none;
    padding: 15px;
    font-style: italic;
    text-decoration: underline;
}
ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    background-color: rgb(229, 124, 35);
    margin-top: 0px;
    border-radius: 10px;
}

body{
    background-color: rgba(220, 209, 209, 0.558);
}
ul li a{
    color: black;
}
footer{
    background-color: rgb(221, 61, 61);
    border-radius: 10px;
   
}
#footerp{
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    color: snow;

}
.flowerl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}
div p{
    text-align: center;
    background-color: brown;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: underline;
    font-style: italic;
    font-size: 18px;
}
.img1{
    border: 2px solid brown;
    padding: 5px;
    border-radius: 10px;
}
.img2{
    border: 2px solid brown;
    padding: 5px;
    border-radius: 10px;
}
.img3{
    border: 2px solid brown;
    padding: 5px;
    border-radius: 10px;
}
ul li a:hover{
    background-color: azure;
}